---
import Layout from "@/components/layout.astro";
import { Image } from "astro:assets";

import NotFoundSvg from "@/assets/404.svg";
---

<Layout
  minutesRead="ðŸ€"
  title="ðŸ€ RinYato's Vault"
  description="A collection of notes about random things."
>
  <h1>Greeting Traveler!</h1>
  <p>
    Welcome to my little corner of the internet. I'm a software engineer, and a
    full time disappointment. This is where I write about things I'm interested
    in, and things I'm working on. I hope you find something interesting here.
  </p>

  <p>
    Some notes are private, so if you're looking for something specific, you can
    always contact me.
  </p>

  <div>
    <a href="https://rinyato.com" target="_blank">rinyato.com</a>
    <span class="mx-3"></span>
    <a href="https://github.com/rin-yato" target="_blank">github</a>
    <span class="mx-3"></span>
    <a href="https://x.com/chearithorn" target="_blank">x.com</a>
    <span class="mx-3"></span>
    <a href="https://t.me/rinyato" target="_blank">telegram</a>
  </div>
</Layout>
